<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lh.sms.client">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".framing.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.person.balance.PersonBalanceDetail" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.balance.PersonBalanceDetailDetail" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.balance.PersonBalance" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.bill.PersonBillRecord" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.sms.PersonSmsConfig" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.user.PersonLogin" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.user.PersonRegister" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.user.VerifySmsCode" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.user.PersonFindPass" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.user.ConfigPassword" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.sms.PersonSmsConfigDetail" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.msg.PersonUserMsg" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.msg.PersonUserMsgDetail" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.app.PersonAppConfig" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.app.PersonAppConfigDetailAdd" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.app.PersonAppConfigDetail" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.template.PersonTemplateConfig" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.template.PersonTemplateConfigDetail" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.template.PersonTemplateConfigDetailAdd" android:launchMode="singleTask"/>
        <activity android:name=".ui.about.AboutUs" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.user.PersonUserInfo" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.user.PersonUserInfoUpdate" android:launchMode="singleTask"/>
        <activity android:name=".ui.person.user.PersonUserInfoUpdatePhone" android:launchMode="singleTask"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lh.sms.client.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service android:name=".SmRunningService" />
    </application>

</manifest>